<div class="grid-list-product-wrapper">
  <div class="product-grid product-view pb-20">
    <div class="row">
      <div *ngFor="let item of productLists" class="product-width col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-30">

        <div class="product-wrapper">

          <div class="product-img">
            <a href="/products/fat-fermentum-metusid">
              <img class="img-fluid" src="../../../assets/images/{{item.photo}}" />
            </a>

            <div class="product-action">
              <a class="action-wishlist" href="/account/login" title="Wishlist">
                <i class="icon-heart"></i>
              </a>

              <a  class="action-btn disabled-add-to-cart action-cart" (click)="addToCart(item)" title="Add to Cart">
                <i class="icon-handbag"></i>
              </a>


              <a href="javascript:void(0);" class="action-compare quick-view"
                onclick="quiqview('fat-fermentum-metusid')" data-toggle="modal" data-target="#quickViewModal">
                <i class="icon-magnifier-add"></i>
              </a>


            </div>
          </div>
          <div class="product-content text-center">
            <h4>
              <a href="/products">{{ item.name }}</a>
            </h4>
            <div class="product-price-wrapper">

              <span><span class=money>{{ item.price }} tk</span></span>

            </div>
            <span class="badge badge-primary mr-4 text-uppercase">{{ item.availability }} Stock</span>
            <h3 (click)="addToCart(item)" class="badge badge-dark">Add to Cart</h3>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
