 <!-- CSS ================================================== -->
 <link href="//cdn.shopify.com/s/files/1/0021/5570/8489/t/2/assets/timber.scss.css?v=2977623853676084717" rel="stylesheet" type="text/css" media="all" />


 
 
 <link href="//cdn.shopify.com/s/files/1/0021/5570/8489/t/2/assets/font-awesome.min.css?v=10002614210049527874" rel="stylesheet" type="text/css" media="all" />
 <link href="//cdn.shopify.com/s/files/1/0021/5570/8489/t/2/assets/simple-line-icons.css?v=9510290111598215764" rel="stylesheet" type="text/css" media="all" />
 <link href="//cdn.shopify.com/s/files/1/0021/5570/8489/t/2/assets/ionicons.min.css?v=18436430612067519620" rel="stylesheet" type="text/css" media="all" />

 <link href="//cdn.shopify.com/s/files/1/0021/5570/8489/t/2/assets/style.css?v=4446563754680562074" rel="stylesheet" type="text/css" media="all" />

 
 
 <link href="//cdn.shopify.com/s/files/1/0021/5570/8489/t/2/assets/custom.css?v=13985181620147575523" rel="stylesheet" type="text/css" media="all" />
 



<header class="header-area clearfix" id="section-header">

<div class="header-top">
<div class="container">
  <div class="border-bottom-1">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12">
        <div class="welcome-area">
          
          <p>Welcome To our shop!</p>
          
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-12">
        <div class="account-curr-lang-wrap f-right">
          <ul>
            
<li class="top-hover"><a href="#">My Account <i class="ion-chevron-down"></i></a>
<ul>
  
  <li>
    
    <a href='/login'>Log In</a>
    
  </li>
  
  
  <li><a href="/pages/wishlist">Wishlist  </a></li>
  
  <li><a href='/signup'>Sign Up</a></li>
  
  <li><a href="/account">my account</a></li>

</ul>
</li>

<li class="top-hover drodown-show common-currency-picker currency">
<a href="#">
  <span class="current-currency">USD</span><i class="ion-chevron-down"></i>
</a>
<ul>
  
  <li data-currency="USD" class="currency__item"><a style="cursor: pointer">&#036; USD</a></li>
  
  <li data-currency="EUR" class="currency__item"><a style="cursor: pointer">&#128; EUR</a></li>
   <li data-currency="GBP" class="currency__item"><a style="cursor: pointer">&#163; GBP</a></li>
</ul>
</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="header-bottom sticky-header">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-6">
      <div class="logo">
<a href="/">
 <img src="assets/images/floral-logo.webp" alt="Phuler - Flower Shop Shopify Theme">
</a>

</div>
    </div>
    <div class="col-lg-9 col-md-8 col-6">
      <div class="header-bottom-right">
        <div class="main-menu">
<nav>
  <ul>
    
    <li class="top-hover"><a href="/">Home</a>
      
    
    </li>
  
    <li class="top-hover"><a href="/collections/all">shop</a>
      
      <ul class="submenu">
      
        <li class="mega-menu-tree"><a class="mega-menu-title" href="#">Categories 01</a>
        
         <ul>   
          <li><a href="/products/affiliate-link-product">Aconite</a></li>
          
          <li><a href="/products/aliquam-consequat-mattis">Ageratum</a></li>
          </ul>
        
        </li>
      
        
        <li class="mega-menu-tree"><a class="mega-menu-title" href="#">Categories 02</a>
        
         <ul>
          <li><a href="/products/dummy-product-name-8">Bee Balm</a></li>
          
          <li><a href="/products/dolore-magnam-aliquam">Begonia</a></li>
          
          
          
          <li><a href="/products/dummy-product-name-8">Bergenia</a></li>
          
           
          </ul>
        
        </li>
        
       
       
      </ul>
      
      
    </li>
    <li class="top-hover"><a href="/products/accusantium-doloremque">Products </a>
      
      <ul class="submenu">
      
      <li><a href="/products">Simple Product</a></li>
      <li><a href="/productsshow">Variable Product</a></li>
      </ul>
      
   
  
    <li class="top-hover"><a href="/blogs/news">blog</a>
      
      <ul class="submenu">
      
      <li><a href="#">left sidebar</a></li>
      <li><a href="#">right sidebar</a></li>

      </ul>
      
    </li>
  <li><a href="/pages/about">about</a></li>

  <li><a href="/pages/contact">contact</a></li>
    
  </ul>
</nav>
</div>

<div class="header-cart">
<a href="#">
  <div class="cart-icon">
    <i class="ion-bag"></i>
    <span class="count-style bigcounter">2</span>
  </div>
  <div class="cart-text">
    
    <span class="digit">My Cart</span>
    
    <span class="shopping-cart__total"><span class=money>$120.00</span></span>
  </div>
</a>
<div class="shopping-cart-content">

  <ul>
    <li  class="cart-dropdown cart-empty-title">
      <h2>Your cart is currently empty.</h2>
    </li>
    <li  class="cart-dropdown mini-cart">    

      <ul class="cart-items">
        
        <li class="single-shopping-cart">
          <div class="shopping-cart-img">
            <a href=""><img alt="" src="assets/images/white.jpg"></a>
          </div>
          <div class="shopping-cart-title">
            <h4><a href="/products">Dutchman&#39;s Breeches - X / gold</a></h4>
            <h6>Qty: 2</h6>
            <span><span class=money>$60.00</span></span>
          </div>
          <div class="shopping-cart-delete">
            <a href="javascript:void(0);" onclick="Shopify.removeItem(12439471292489)" title="Remove this item"><i class="ion ion-close"></i></a>
          </div>
        </li>
        
      </ul>


      <div class="shopping-cart-total">
        <h4>Total : <span class="shop-total shopping-cart__total"><span class=money>$120.00</span></span></h4>
      </div>
      <div class="shopping-cart-btn">
         
        <a href="/cart">view cart</a>
        
        
        <a href='/checkout'>checkout</a>
         
      </div>
    </li>

  </ul>


</div>



</div>
      </div>
    </div>
  </div>
 

   

</div>

