
<app-header></app-header>

<div class="breadcrumbs-section">
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="breadcrumbs-inner ptb-20">
            
            
  <nav class="" role="navigation" aria-label="breadcrumbs">
  <ul class="breadcrumb-list">
  
    <li>
      <a href="/" title="Back to the home page">Home</a>
    </li>
    <li>
  
      <span>Your shopping cart</span>
    </li>
  </ul>
  </nav>
    
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <!-- BREADCRUMBS SETCTION END -->
  <div id="shopify-section-cart-template" class="shopify-section">
    <div class="cart-main-area" id="section-cart-template">
      
      <form  action="/cart" method="post" novalidate enctype="multipart/form-data">
        <div class="container">
          
          <h3 class="page-title">Your cart items</h3>
          
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="table-content table-responsive">
                <table>
                  <thead>
    
                    <tr>
                      <th>Image</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Quantity</th>
                      <th>Subtotal</th>
                      <th>Delete</th>
                    </tr>
    
                  </thead>
                  <tbody>
    
                    
                    
                    <tr *ngFor="let p of orderList">
                      <td class="product-thumbnail">
                       <img class="img-fluid" src="../../../assets/images/{{p.photo}}" />
                      </td>
                      <td class="product-name">{{ p.pname }}</td>
                      <td class="product-price-cart">{{p.price}}</td>
                      <td class="product-quantity">
                      
                        <input type="number" class="form-control-sm"
                        style="width:5em"
                        [value]="p.qty" />
                      <td class="product-subtotal">{{p.price}}</td>
                      <td class="product-remove">
                        <a   (click)="delete(p.id)"><i class="fa fa-times"></i></a>
                      </td>
                    </tr>
                    
                    
                    
                    
                  </tbody>
                </table>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="cart-shiping-update-wrapper">
                    <div class="cart-shiping-update">
                      <a href="/products">Continue Shopping</a>
                    </div>
                    <div class="cart-clear">
                      <input type="submit" value="Update Shopping Cart" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="offset-lg-8 col-lg-4 col-md-12">
                  <div class="grand-totall">
                    <div class="title-wrap">
                      <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                    </div>
                <div  *ngFor="let p of orderList">
                    <h5>Total products : {{p.qty}}</h5>
                    <h4 class="grand-totall-title">Grand Total : {{p.price}}</h4>
                  </div>
                    <a (click)="updateOrderStatus()" >Proceed to Checkout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
       
    
    </div><style data-shopify>#section-cart-template{padding-top: 60px;
        padding-bottom: 65px;}
      @media (min-width: 768px) and (max-width: 991px) {
        #section-cart-template{padding-top: 60px;
          padding-bottom: 65px;}
      }
      @media (max-width: 767px) {
        #section-cart-template{padding-top: 60px;
          padding-bottom: 65px;}
      }</style><style>
     
    
      
      
    </style> 
    
    
    
    
    
    
    
    
    
    
    
    
    </div>
    

    
    <app-footer></app-footer>